<p style="color: green"><%= notice %></p>

<%= render @itinerary %>

<div>
  <%= link_to "Edit this itinerary", edit_itinerary_path(@itinerary) %> |
  <%= link_to "Back to itineraries", itineraries_path %>

  <%= button_to "Destroy this itinerary", @itinerary, method: :delete %>
</div>
