<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit this list", edit_workspace_lists_path(@workspace, @list) %> |
  <%= link_to "Back to list", workspace_lists_path(@workspace) %>

  <%= button_to "Delete this list", [@workspace, @list], method: :delete %>
</div>
