<div class="d-flex align-items-center justify-content-center">
    <h1>Sign In<h1> 
</div>

<%= form_with url:sign_in_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "ex. pearce@sfu.ca" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.text_field :password, class: "form-control", placeholder: "ex. spaceship"  %>
    </div>

    <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>